@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box
}

body {
  background: #edf0f1;
  padding-left: 30px;
  padding-top: 80px;
  padding-right: 30px;
}

body, input {
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #27A1FE;
  box-shadow: 0px 2px 4px #C5C7C8;
  padding: 15px;
  text-align: center;
}


.addtask {
  width: 100%;
  height: 54px;
  position: relative;
  border: 2px solid #27A1FE;
  border-radius: 5px;
  radius: 5px;
  top: 35px;
  float:none;
  box-shadow: 0px 2px 4px #C5C7C8;

}

.addtask input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  position: relative;
  background: #73BEF7;
  font-size: 15px;
  font-weight: 400;
  text-indent: 15px;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.addtask input::-webkit-input-placeholder {
  color: #fff;
}

.addtask button {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #fff;
  right: 0px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.addtask button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}


.container{
  width: 100%;
  float: left;
  padding-top: 45px;
  padding-left: 10px;
}

ul.todolist{
  width: 100%;
  float: left;
  top: 10px;
}

ul.todolist li{
  width: 100%;
  min-height: 50px;
  float: left;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #C5C7C8;
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
}

ul.todolist li:last-of-type{
  margin: 0;
}

ul.todolist li .buttons{
  width:105px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todolist li .buttons button{
  width: 35px;
  height: 50px;
  float: left;
  position: relative;
  background: none;
  border: 0px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.buttons img{
  width: 22px;
  height: 22px;
  position:relative;
}

ul.todolist#completed:not(:empty){
  position: relative;
  padding:60px 0 0 0;
}

ul.todolist#completed:not(:empty):before {
  content: '';
  opacity: 0.5;
  width: 100%;
  height: 3px;
  background: #C5C7C8;
  border-radius: 2px;

  position: absolute;
  top: 30px;
  left: 8%;

  margin: 0 0 0 -75px;
}

ul.todolist#todolist:empty:after {
  content: 'You have nothing to-do!';
}
