@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box
}

body {
  background: #edf0f1;
  padding: 80px;
}

body, input {
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5px;
  background: #27A1FE;
  box-shadow: 0px 2px 4px #C5C7C8;
  padding: 15px;
}

header input {
  width: 100%;
  height: 100%;
  float: left;
  color: #fff;
  background: #73BEF7;
  font-size: 15px;
  font-weight: 400;
  text-indent: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

header input::-webkit-input-placeholder {
  color: #fff;
}

header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

header button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.container{
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todolist{
  width: 100%;
  float: left;
}

ul.todolist li{
  width: 100%;
  min-height: 50px;
  float: left;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #C5C7C8;
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
}

ul.todolist li:last-of-type{
  margin: 0;
}

ul.todolist li .buttons{
  width:105px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todolist li .buttons button{
  width: 35px;
  height: 50px;
  float: left;
  position: relative;
  background: none;
  border: 0px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.buttons img{
  width: 22px;
  height: 22px;
  position:relative;
}
